<% provide(:title, 'About') %>
<div class="body-content">
  <h2 class="text-center">About</h2>
  <hr/>
  <p>
    Techseven is me, <%= link_to "Steve Chen", "http://www.linkedin.com/in/steventchen", target: "_blank" %>, a guy on a mission to automate all the things. I provide customized solutions for scaling and automating your company's website infrastructure. From development through QA, staging, and production, I'll work with you to make everything work seamlessly and save valuable engineering time for the important things.
    <br/>
    <%= link_to "http://xkcd.com/1319", target: "_blank" do %>
      <%= image_tag "http://imgs.xkcd.com/comics/automation.png", class: 'img-responsive center-block' %>
    <% end %>
  </p>
  <p>
    I specialize in implementing AWS services, including but not limited to:
    <ul>
      <li>EC2</li>
      <li>RDS</li>
      <li>OpsWorks</li>
      <li>CloudFormation</li>
      <li>S3</li>
      <li>Route 53</li>
    </ul>
  </p>

</div>