<% provide(:title, 'Contact') %>
<div class="body-content">
  <h2 class="text-center">Contact</h2>
  <hr/>
  <p>
    Interested in working together?
  </p>
  <p>
    Send an email to - <%= mail_to "steve@techseven.net" %>
  </p>
  </p>
</div>