<% content_for :head do %>
<meta name="google-site-verification" content="2tQgP9AVqMkcF7xyo3y0cEw1NR4RdHmRpRvfFVBtTOc" />
<% end %>
<div id="techseven-box">
    <div class="box-letter tech steve letter-black" id='title00' data-pos-base='00' data-pos-new='01'>
      <span class="letter">T</span>
    </div>
    <div class="box-letter tech steve letter-black" id='title01' data-pos-base='01' data-pos-new='02'>
      <span class="letter">E</span>
    </div>
    <div class="box-letter tech chen letter-black" id='title02' data-pos-base='02' data-pos-new='12'>
      <span class="letter">C</span>
    </div>
    <div class="box-letter tech chen letter-black" id='title10' data-pos-base='10' data-pos-new='20'>
      <span class="letter">H</span>
    </div>
    <div class="box-letter steve" id='title11' data-pos-base='11' data-pos-new='00'>
      <span class="letter">S</span>
    </div>
    <div class="box-letter chen" id='title12' data-pos-base='12' data-pos-new='21'>
      <span class="letter">E</span>
    </div>
    <div class="box-letter steve" id='title20' data-pos-base='20' data-pos-new='10'>
      <span class="letter">V</span>
    </div>
    <div class="box-letter steve" id='title21' data-pos-base='21' data-pos-new='11'>
      <span class="letter">E</span>
    </div>
    <div class="box-letter chen" id='title22' data-pos-base='22' data-pos-new='22'>
      <span class="letter">N</span>
    </div>
</div>
