<% content_for :head do %>
<meta name="google-site-verification" content="2tQgP9AVqMkcF7xyo3y0cEw1NR4RdHmRpRvfFVBtTOc" />
<% end %>
<div class="body-content">
  <div id="techseven-box">
    <div class="box-letter tech steve" id='title00' data-pos-base='00' data-pos-new='01'>T</div>
    <div class="box-letter tech steve" id='title01' data-pos-base='01' data-pos-new='02'>E</div>
    <div class="box-letter tech chen" id='title02' data-pos-base='02' data-pos-new='12'>C</div>
    <div class="box-letter tech chen" id='title10' data-pos-base='10' data-pos-new='20'>H</div>
    <div class="box-letter steve" id='title11' data-pos-base='11' data-pos-new='00'>S</div>
    <div class="box-letter chen" id='title12' data-pos-base='12' data-pos-new='21'>E</div>
    <div class="box-letter steve" id='title20' data-pos-base='20' data-pos-new='10'>V</div>
    <div class="box-letter steve" id='title21' data-pos-base='21' data-pos-new='11'>E</div>
    <div class="box-letter chen" id='title22' data-pos-base='22' data-pos-new='22'>N</div>
  </div>
</div>
